VITE_SUPABASE_URL=https://gcjrgwxsbagqkmyrwwsk.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImdjanJnd3hzYmFncWtteXJ3d3NrIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzY4Njk0MjMsImV4cCI6MjA5MjQ0NTQyM30.0we7Kg4bevbRrEdhekzZI4OpzzaKhvx08bj7CDsEhuM
